<div class="col-lg-4 pl-lg-5">
  <!--<div class="widget mb-5 mt-5 mt-lg-0">
    <h5 class="widget-title mb-4">Search</h5>
    <form action="{{ `search/` | relLangURL }}">
      <input id="search-query" name="s" type="search" class="form-control" placeholder="Search">
    </form>
  </div>

  <div class="widget mb-5">
    <h5 class="widget-title mb-4">About</h5>
    <p>Odit pariatur eveniet molestias minima, ullam obcaecati magnam amet voluptas molestiae possimus rerum enim tempore.</p>
  </div>

  <div class="widget mb-5">
    <h5 class="widget-title mb-4">Follow us</h5>
    <ul class="list-inline social-links">
      {{ range .Site.Params.social }}
      <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
  </div>-->

  <div class="widget mb-5 list-item">
    <h5 class="widget-title mb-4">Categories</h5>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li>
        <a class="align-items-center d-flex justify-content-between"
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}<span>{{len $items}}</span></a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>

  <div class="widget tags mb-5">
    <h5 class="widget-title mb-4">Tags</h5>
    <div class="tags-links">
      {{- if isset .Site.Taxonomies "tags" }}
      {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
      {{- range $name, $items := .Site.Taxonomies.tags }}
      <a href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a>
      {{- end }}
      {{- end }}
      {{- end }}
    </div>
  </div>
</div>
