<!-- Navigation Start -->
<header class="header-bar">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light main-nav ">
    <div class="container">
      <!-- LOGO BAR -->
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="img-fluid logo-b">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="tf-ion-android-menu"></span>
      </button>

      <!--  MAIN MENU  -->
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}">{{.Site.Params.Home}}</a>
          </li>
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
        {{ if .Site.Params.navBtn.enable }}
        {{ "<!-- get start btn -->" | safeHTML }}
        <a href="{{ .Site.Params.navBtn.link | absURL }}"
          class="btn btn-secondary btn-rounded mt-3 mt-lg-0">{{ .Site.Params.navBtn.label }}</a>
        {{ end }}
      </div>
    </div>
  </nav>
</header>
<!-- Navigation End -->
