<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">The first annual R/Pharma conference will be held Wednesday, August 15th and Thursday, August 16th at Harvard University, Cambridge, Massachusetts, USA.</p>

<p>R/Pharma is an ISC working group (<a href="https://www.r-consortium.org/projects/isc-
working-groups">www.r-consortium.org/projects/isc-working-groups</a>) under the R Consortium. The conference is envisioned as a relatively small, scientifically &amp;
industry oriented, collegial event focused on the use of R in the development of pharmaceuticals. The
conference will cover topics including reproducible research, regulatory compliance and validation,
safety monitoring, clinical trials, drug discovery, research &amp; development, PK/PD/pharmacometrics,
genomics, diagnostics, immunogenicity and more. All will be discussed within the context of using R as a
primary tool within the drug development process. The conference will showcase the current use of R
that is helping to drive biomedical research, drug discovery &amp; development, and clinical initiatives.
(Note that topics related to the use of R in hospitals/clinics for patient care by clinicians, doctors, and
researchers will likely be the focus of the upcoming R/Medicine conference.)</p>

<p>The conference will be a single track conference consisting of keynotes from renowned industry
practitioners to key R developers to leading academics, pre-conference workshops and full-length
presentations as well as a number of shorter, highly-energetic lightning talks.</p>

<p>R/Pharma is dedicated to providing a harassment-free conference experience for everyone regardless of gender, sexual orientation, disability or any feature that distinguishes human beings. For more information, please see the <a href="https://wiki.r-consortium.org/view/R_Consortium_and_the_R_Community_Code_of_Conduct">R Consortium code of conduct</a>.</p>

<p>Organizing Committee:</p>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <td class="tg-yw4l">Michael Lawrence</td>
    <td class="tg-yw4l">Roche/Genentech</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Jimmy Wong</td>
    <td class="tg-yw4l">FDA</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Elizabeth Hess</td>
    <td class="tg-yw4l">IQSS Harvard University</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Eric Nantz</td>
    <td class="tg-yw4l">Eli Lilly</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Harvey Lieberman</td>
    <td class="tg-yw4l">Sanofi</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Min Lee</td>
    <td class="tg-yw4l">Amgen</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Michael Blanks</td>
    <td class="tg-yw4l">PPD</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Edward Lauzier</td>
    <td class="tg-yw4l">Broad Institute of MIT and Harvard</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Melvin Munsaka</td>
    <td class="tg-yw4l">AbbVie</td>
  </tr>
  <tr>
    <td class="tg-yw4l">James Black</td>
    <td class="tg-yw4l">Roche/Genentech</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Bella Feng</td>
    <td class="tg-yw4l">Amgen</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Reinhold Koch</td>
    <td class="tg-yw4l">Roche/Genentech</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Phil Bowsher</td>
    <td class="tg-yw4l">RStudio</td>
  </tr>
</table>
