<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">The second annual R/Pharma conference will take place August 21, 22, and 23, 2019
  at Harvard University, Cambridge, Massachusetts, USA. A confirmation on this date will appear on this site as soon as the venue booking is confirmed.</p>

<p>Based on feedback, we have devoted a 3rd day to the conference agenda focused
  completely on R/Pharma workshops for attendees. More info will be available soon.
  </p>

<p>R/Pharma is an ISC working group (<a href="https://www.r-consortium.org/projects/isc-
working-groups">www.r-consortium.org/projects/isc-working-groups</a>) under the R Consortium. The conference is envisioned as a relatively small, scientifically &amp;
industry oriented, collegial event focused on the use of R in the development of pharmaceuticals. The
conference will cover topics including reproducible research, regulatory compliance and validation,
safety monitoring, clinical trials, drug discovery, research &amp; development, PK/PD/pharmacometrics,
genomics, diagnostics, immunogenicity and more. All will be discussed within the context of using R as a
primary tool within the drug development process. The conference will showcase the current use of R
that is helping to drive biomedical research, drug discovery &amp; development, and clinical initiatives.
(Note that topics related to the use of R in hospitals/clinics for patient care by clinicians, doctors, and
researchers will likely be the focus of the upcoming R/Medicine conference.)</p>

<p>The conference will be a single track conference consisting of keynotes from renowned industry
practitioners to key R developers to leading academics, pre-conference workshops and full-length
presentations as well as a number of shorter, highly-energetic lightning talks.</p>

<p>R/Pharma is dedicated to providing a harassment-free conference experience for everyone regardless of gender, sexual orientation, disability or any feature that distinguishes human beings. For more information, please see the <a href="https://wiki.r-consortium.org/view/R_Consortium_and_the_R_Community_Code_of_Conduct">R Consortium code of conduct</a>.</p>

<h3>2019 Organising Committee</h3>

<p>The organising committee focuses on the logistics of running this conference.
  The content of this conference is shaped by dozens of Pharma industry colleagues in a community effort, led by John Sims and
  Bella Feng.</p>

<style type="text/css">
.tg td{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;}
th, td {
 border-bottom: 1px solid #ddd;
}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <td class="tg-0lax">Harvey Lieberman</td>
    <td class="tg-0lax">Sanofi</td>
  </tr>
  <tr>
    <td class="tg-0lax">Phil Bowsher</td>
    <td class="tg-0lax">RStudio</td>
  </tr>
  <tr>
    <td class="tg-0lax">James Black</td>
    <td class="tg-0lax">Roche/Genentech</td>
  </tr>
  <tr>
    <td class="tg-0lax">Edward Lauzier</td>
    <td class="tg-0lax">Merck</td>
  </tr>
  <tr>
    <td class="tg-0lax">Elena Rantou</td>
    <td class="tg-0lax">FDA</td>
  </tr>
  <tr>
    <td class="tg-0lax">Melvin Munsaka</td>
    <td class="tg-0lax">AbbVie</td>
  </tr>
  <tr>
    <td class="tg-0lax">Eric Nantz</td>
    <td class="tg-0lax">Eli Lilly</td>
  </tr>
  <tr>
    <td class="tg-0lax">Paul Schuette</td>
    <td class="tg-0lax">FDA</td>
  </tr>
  <tr>
    <td class="tg-0lax">Michael Blanks</td>
    <td class="tg-0lax">Beigene</td>
  </tr>
  <tr>
    <td class="tg-0lax">Min Lee</td>
    <td class="tg-0lax">Amgen</td>
  </tr>
  <tr>
    <tr>
      <td class="tg-0lax">Reinhold Koch</td>
      <td class="tg-0lax">Roche/Genentech</td>
    </tr>
    <tr>
    <td class="tg-0lax">Elizabeth Hess</td>
    <td class="tg-0lax">IQSS Harvard University</td>
  </tr>
  <tr>
    <td class="tg-0lax">John Sims</td>
    <td class="tg-0lax">Pfizer (& Program Committee link)</td>
  </tr>
  <tr>
    <td class="tg-0lax">Bella Fang</td>
    <td class="tg-0lax">Amgen (& Program Committee link)</td>
  </tr>
  <tr>
    <td class="tg-0lax">Michael Lawrence</td>
    <td class="tg-0lax">Roche/Genentech (& R Foundation link)</td>
  </tr>
</table>
