<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">The first annual R/Pharma conference will be held Wednesday, August 15th and Thursday, August 16th at Harvard University, Cambridge, Massachusetts, USA.</p>

<p>R/Pharma is an ISC working group (<a href="https://www.r-consortium.org/projects/isc-
working-groups">www.r-consortium.org/projects/isc-working-groups</a>) under the R Consortium. The conference is envisioned as a relatively small, scientifically &amp;
industry oriented, collegial event focused on the use of R in the development of pharmaceuticals. The
conference will cover topics including reproducible research, regulatory compliance and validation,
safety monitoring, clinical trials, drug discovery, research &amp; development, PK/PD/pharmacometrics,
genomics, diagnostics, immunogenicity and more. All will be discussed within the context of using R as a
primary tool within the drug development process. The conference will showcase the current use of R
that is helping to drive biomedical research, drug discovery &amp; development, and clinical initiatives.
(Note that topics related to the use of R in hospitals/clinics for patient care by clinicians, doctors, and
researchers will likely be the focus of the upcoming R/Medicine conference.)</p>

<p>The call for papers is now open and you can submit a proposal below at <a href="http://rinpharma.com/#call4papers">http://rinpharma.com/#call4papers</a>.</p>

<p>The conference will be a single track conference consisting of keynotes from renowned industry
practitioners to key R developers to leading academics, pre-conference workshops and full-length
presentations as well as a number of shorter, highly-energetic lightning talks.</p>

<p>Organizing Committee:</p>

<ul>
  <li>Michael Lawrence, Roche/Genentech</li>
  <li>Jimmy Wong, FDA</li>
  <li>Eric Nantz, Eli Lilly</li>
  <li>Harvey Lieberman, Sanofi</li>
  <li>Min Lee, Amgen</li>
  <li>Michael Blanks, PPD</li>
  <li>Edward Lauzier, Broad Institute of MIT and Harvard</li>
  <li>Melvin Munsaka, AbbVie</li>
  <li>James Black, Roche/Genentech</li>
  <li>Bella Feng, Amgen</li>
  <li>Reinhold Koch, Roche/Genentech</li>
  <li>Phil Bowsher, RStudio</li>

</ul>
