<h2 class="section-title">{{ .titles.call4papers }}</h2>

<p itemprop="description">The R / Pharma program committee is excited to announce the call for papers for the first R / Pharma Conference to be held on August 7th and 8th at Harvard University. We expect that this inaugural conference will be a relatively small, collegial event, but that it will nevertheless attract the leading researchers and practitioners who are advancing the use of R for drug development in the pharmaceutical industry.</p>

<p>We invite you to submit an abstract via the form below for either a twenty minute talk, or ten minute, lightning talk. Both academic and practitioner proposals related to R are encouraged. Applicable topics include reproducible research, regulatory compliance and validation, safety monitoring, clinical trials, drug discovery, research & development, PK/PD/pharmacometrics, genomics, diagnostics, immunogenicity and other topics relating to the use of R in drug development.</p>

<p>Please submit proposals online <a href="/cfp/">at this link</a>. Submissions will be reviewed and accepted on a rolling basis. The deadline for submissions will be midnight (Pacific Time) May 25, 2018. Submitters will be notified of acceptance and presentation length via email by June 7, 2018.</p>

