<h2 class="section-title">{{ .titles.grants }}</h2>

<p>Companies attending R/Pharma are able to provide support to cover travel and
  accomodation for several conference attendees that
  are currently enrolled as students, or working for a non-profit. Scholarships
 will be given out on a rolling basis, so early submissions are encouraged.</p>

<p>How will attending the conference impact you? What important problems will you
  be able to tackle that you couldn’t before? You will learn the most if you
  already have some experience with R, so show us what you’ve achieved so far.</p>

<p>How will you share your knowledge with others? We can’t help everyone,
  so we’re particularly interested in helping those who will go back to their
  communities and spread the love. Show us how you’ve shared your code, skills and
  knowledge in the past and tell us what you plan to do in the future.</p>

  <a class="typeform-share button" href="https://jamesblack.typeform.com/to/t2jQJC" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-submit-close-delay="5" target="_blank">Apply for a scholarship </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
