<h2 class="section-title">Schedule</h2>
<!--gt table start-->
<table style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Fira Sans', 'Droid Sans', Arial, sans-serif;display:table;border-collapse:collapse;margin-left:auto;margin-right:auto;color:#000000;font-size:16px;background-color:#FFFFFF;width:auto;border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;">
<thead>
<tr>
<th colspan='4' style="background-color:#FFFFFF;border-bottom-color:#FFFFFF;color:#000000;font-size:125%;padding-top:4px;padding-bottom:1px;border-bottom-width:0;text-align:center;font-weight:normal;" >R/Pharma schedule</th>
</tr>
<tr>
<th colspan='4' style="background-color:#FFFFFF;border-bottom-color:#FFFFFF;color:#000000;font-size:85%;padding-top:1px;padding-bottom:4px;border-top-color:#FFFFFF;border-top-width:0;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;text-align:center;font-weight:normal;" ></th>
</tr>
</thead>
<tr>
<th style="color:#000000;background-color:#FFFFFF;font-size:16px;font-weight:initial;vertical-align:middle;padding:10px;margin:10px;text-align:left;" rowspan='1' colspan='1'></th>
<th style="color:#000000;background-color:#FFFFFF;font-size:16px;font-weight:initial;vertical-align:middle;padding:10px;margin:10px;text-align:left;" rowspan='1' colspan='1'>Type</th>
<th style="color:#000000;background-color:#FFFFFF;font-size:16px;font-weight:initial;vertical-align:middle;padding:10px;margin:10px;text-align:left;" rowspan='1' colspan='1'>Title</th>
<th style="color:#000000;background-color:#FFFFFF;font-size:16px;font-weight:initial;vertical-align:middle;padding:10px;margin:10px;text-align:left;" rowspan='1' colspan='1'>Speaker</th>
</tr>
<tbody style="border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;">
<tr style="">
<td colspan='4' style="padding:8px;color:#ffffff;background-color:#3c8dbc;font-size:16px;font-weight:initial;border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;vertical-align:middle;">2019-08-21 - Wednesday</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 9:15 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Registration </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Registration at CGIS South</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 10:00 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop 1 (part 1) </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Shiny Reproducibility</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Joe Cheng</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 10:00 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop 2 (part 1) </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">R Validation Hub (past, current and future state)</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Andy Nicholls</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 10:00 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop 3 (part 1) </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Artificial neural networks in R with Keras and TensorFlow</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Leon Eyrich Jessen</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:00 AM - 10:20 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Break </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 12:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop 1 (part 2) </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Shiny Reproducibility</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Joe Cheng</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 12:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop 2 (part 2) </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">R Validation Hub (past, current and future state)</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Andy Nicholls</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 12:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop 3 (part 2) </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Artificial neural networks in R with Keras and TensorFlow</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Leon Eyrich Jessen</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:00 PM - 1:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Lunch </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Lunch</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:00 PM - 3:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop (part 1) </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Machine learning</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Max Kuhn</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:00 PM - 3:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop (part 1) </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">plottly</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Carson Sievert</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:00 PM - 3:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop (part 1) </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Pipeline toolkit for reproducibility and high-performance computing</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Will Landau</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:00 PM - 3:20 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Break </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 5:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop (part 2) </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Machine learning</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Max Kuhn</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 5:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop (part 2) </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">plottly</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Carson Sievert</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 5:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Workshop (part 2) </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Pipeline toolkit for reproducibility and high-performance computing</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Will Landau</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">6:00 PM - 9:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Pre-conference Dinner </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Pre-Conference Dinner for Speakers</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr style="">
<td colspan='4' style="padding:8px;color:#ffffff;background-color:#3c8dbc;font-size:16px;font-weight:initial;border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;vertical-align:middle;">2019-08-22 - Thursday</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 9:15 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Registration </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Registration at CGIS South</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Topic TBD </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Topic TBD </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Topic TBD </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">9:00 AM - 9:15 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Opening Remarks </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Opening Remarks</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">9:15 AM - 10:00 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Keynote </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Reproducibility and the role of code in reproducible data science</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Garrett Grolemund</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:00 AM - 10:20 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Using R for Generic Drug Evaluation and SABE R-package for Assessing Bioequivalence of Topical Dermatological Products</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Elena Rantou</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 10:30 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Tables: SAS (proc report) -vs- R (GT)</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Bella Feng</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:30 AM - 10:50 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Validation</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Keaven Anderson</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:50 AM - 11:10 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Break </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:10 AM - 11:30 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">NLMIXR nlmixr: an R package for population PKPD modeling</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Mirjam Trame</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:30 AM - 11:40 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">R enterprise installation and administration</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Eric Nantz</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:40 AM - 12:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">PK/PD/pharmacometrics</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Alison Margolskee</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:00 PM - 12:10 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Shiny at the FDA</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Kevin Snyder</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:10 PM - 12:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">R Training</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Paulo Bargo</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:30 PM - 1:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Lunch </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Lunch</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:30 PM - 1:50 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Nest</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Adrian Waddel</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:50 PM - 2:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT4</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Nina Qi</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:00 PM - 2:20 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Package management</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Devin Pastoor</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:20 PM - 2:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">NDA submission</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Mark Rothe</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:30 PM - 2:50 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">R enterprise installation and administration</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Rena Yang</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:50 PM - 3:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT6</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Ning Leng</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:00 PM - 3:20 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT9</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Doug Kelkhoff</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 3:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT7</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Vivian Zhuang</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:30 PM - 3:50 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Break </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:50 PM - 4:35 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Keynote </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Second Keynote: Breaking the Speed Limit: How R Gets Faster</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Marianna Foos</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">4:35 PM - 4:45 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT8</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Jeannine Fisher</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">4:45 PM - 5:05 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT10</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">David Cooper</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:05 PM - 5:15 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT9</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Will Landau</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:15 PM - 5:35 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT11</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">David James</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">6:00 PM - 7:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Reception </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Conference Reception (Cambridge Innovation Center confirmed once we provide deposit)</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr style="">
<td colspan='4' style="padding:8px;color:#ffffff;background-color:#3c8dbc;font-size:16px;font-weight:initial;border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;vertical-align:middle;">2019-08-23 - Friday</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 9:15 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Registration </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Registration at CGIS South</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Topic TBD </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Topic TBD </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Topic TBD </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">9:00 AM - 9:15 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Opening Remarks </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Opening Remarks</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">9:15 AM - 10:00 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Keynote </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Third Keynote: TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Aedin Culhane (needs topic)</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:00 AM - 10:20 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT12</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Chase Clark</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 10:30 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT10</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Volha Tryputsen</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:30 AM - 10:50 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT13</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Pavan Vaddady</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:50 AM - 11:10 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Break </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:10 AM - 11:30 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT14</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Becca Krouse</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:30 AM - 11:40 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT11</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Marcus Adams</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:40 AM - 12:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT15</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Juliane Manitz</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:00 PM - 12:10 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT12</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Jessica Myers Franklin</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:10 PM - 12:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT16</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Leon Eyrich Jessen</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:30 PM - 1:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Lunch </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Lunch</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:30 PM - 1:50 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT17</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Max Kuhn</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:50 PM - 2:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT13</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Jason Stevens</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:00 PM - 2:20 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT18</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Carson Sievert</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:20 PM - 2:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT14</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Gordon Turner</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:30 PM - 2:50 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT19</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Marianna Grinberg</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:50 PM - 3:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT15</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Madeleine S. Gastonguay</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:00 PM - 3:20 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT20</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Andy Nicholls</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 3:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT16</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Jessica Higgins</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:30 PM - 3:50 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Break </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:50 PM - 4:35 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Keynote </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Fourth Keynote: TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Paul Schuette</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">4:35 PM - 4:45 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT17</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Ellis Hughes</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">4:45 PM - 5:05 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT21</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Kelly O'Briant</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:05 PM - 5:05 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT18</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:05 PM - 5:25 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Talk </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT22</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Abhik Seal</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:45 PM - 8:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Drinks </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Drinks Offsite</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
</tbody>
</table>
<!--gt table end-->

