<h2 class="section-title">Schedule</h2>
<h4 class="section-title">DRAFT schedule - speakers, order and rooms are subject to change.</h4>
<!--gt table start-->
<table style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', 'Fira Sans', 'Droid Sans', Arial, sans-serif;display:table;border-collapse:collapse;margin-left:auto;margin-right:auto;color:#000000;font-size:16px;background-color:#FFFFFF;width:auto;border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;">
<thead>
<tr>
<th colspan='4' style="background-color:#FFFFFF;border-bottom-color:#FFFFFF;color:#000000;font-size:125%;padding-top:4px;padding-bottom:1px;border-bottom-width:0;text-align:center;font-weight:normal;" >R/Pharma 2019 schedule</th>
</tr>
<tr>
<th colspan='4' style="background-color:#FFFFFF;border-bottom-color:#FFFFFF;color:#000000;font-size:85%;padding-top:1px;padding-bottom:4px;border-top-color:#FFFFFF;border-top-width:0;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;text-align:center;font-weight:normal;" ></th>
</tr>
</thead>
<tr>
<th style="color:#000000;background-color:#FFFFFF;font-size:16px;font-weight:initial;vertical-align:middle;padding:10px;margin:10px;text-align:left;" rowspan='1' colspan='1'></th>
<th style="color:#000000;background-color:#FFFFFF;font-size:16px;font-weight:initial;vertical-align:middle;padding:10px;margin:10px;text-align:left;" rowspan='1' colspan='1'>Room</th>
<th style="color:#000000;background-color:#FFFFFF;font-size:16px;font-weight:initial;vertical-align:middle;padding:10px;margin:10px;text-align:left;" rowspan='1' colspan='1'>Title</th>
<th style="color:#000000;background-color:#FFFFFF;font-size:16px;font-weight:initial;vertical-align:middle;padding:10px;margin:10px;text-align:left;" rowspan='1' colspan='1'>Speaker</th>
</tr>
<tbody style="border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;">
<tr style="">
<td colspan='4' style="padding:8px;color:#ffffff;background-color:#3c8dbc;font-size:16px;font-weight:initial;border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;vertical-align:middle;">2019-08-21 - Wednesday</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 9:15 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Registration at CGIS South</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 10:00 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S050 </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Shiny Reproducibility</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Joe Cheng</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 10:00 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S250 </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">R Validation Hub (past, current and future state)</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Andy Nicholls</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 10:00 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S030 </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Artificial neural networks in R with Keras and TensorFlow</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Leon Eyrich Jessen</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:00 AM - 10:20 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 12:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S050 </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Shiny Reproducibility</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Joe Cheng</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 12:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S250 </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">R Validation Hub (past, current and future state)</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Andy Nicholls</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 12:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S030 </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Artificial neural networks in R with Keras and TensorFlow</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Leon Eyrich Jessen</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:00 PM - 1:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Lunch</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:00 PM - 3:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S050 </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Machine learning</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Max Kuhn</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:00 PM - 3:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S250 </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">plottly</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Carson Sievert</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:00 PM - 3:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S030 </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Machine learning workflow management with drake</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Will Landau</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:00 PM - 3:20 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 5:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S050 </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Machine learning</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Max Kuhn</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 5:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S250 </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">plottly</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Carson Sievert</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 5:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> S030 </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Machine learning workflow management with drake</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Will Landau</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">6:00 PM - 9:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> By invitation </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Pre-Conference Dinner for Speakers</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr style="">
<td colspan='4' style="padding:8px;color:#ffffff;background-color:#3c8dbc;font-size:16px;font-weight:initial;border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;vertical-align:middle;">2019-08-22 - Thursday</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 9:15 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Registration at CGIS South</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> TBC </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> TBC </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> TBC </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">9:00 AM - 9:15 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Opening Remarks</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">9:15 AM - 10:00 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Reproducibility and the role of code in reproducible data science</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Garrett Grolemund</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:00 AM - 10:20 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Using R for Generic Drug Evaluation and SABE R-package for Assessing Bioequivalence of Topical Dermatological Products</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Elena Rantou</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 10:30 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Leigh Alexander</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:30 AM - 10:50 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Teaching an old dog new tricks: modernizing gsDesign</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Keaven Anderson</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:50 AM - 11:10 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:10 AM - 11:30 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">NLMIXR nlmixr: an R package for population PKPD modeling</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Mirjam Trame</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:30 AM - 11:40 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Creating and reviving Shiny apps with {golem}</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Eric Nantz</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:40 AM - 12:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Exploratory Graphics (xGx): Promoting the purposeful exploration of PKPD data</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Alison Margolskee</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:00 PM - 12:10 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Interactive Visualization of Standardized CDISC-SEND-Formatted Toxicology Study Data Using R Shiny</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Kevin Snyder</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:10 PM - 12:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Using RStudio.Cloud to advance R proficiency: a crowdsourcing training experience</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Paulo Bargo</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:30 PM - 1:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Lunch</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:30 PM - 1:50 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Updates on Analyzing Clinical Trials Data with R</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Adrian Waddell</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:50 PM - 2:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">R Packages for Analyzing Clinical Trials Data with R Focusing on Safety And Early Efficacy</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Nina Qi</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:00 PM - 2:20 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Package management</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Devin Pastoor</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:20 PM - 2:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Shinytized R Markdown: A Potent OTC Alternative to 1,3,7‐Trimethylxanthine &amp; Currently Indicated for NDA Document Generation, Among Others</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Mark Rothe</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:30 PM - 2:50 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Collaborating at scale: managing an enterprise analytical computing ecosystem</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Rena Yang</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:50 PM - 3:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Embrace R in Pharma - building internal R community and establishing fit-for-purpose R pilots</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Ning Leng</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:00 PM - 3:20 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Re-envisioning Clinical Content Delivery in the Open Source World</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Doug Kelkhoff</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 3:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">The use of R for improved reproducibility of biomarker detection in liquid biopsies</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Vivian Zhuang</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:30 PM - 3:50 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:50 PM - 4:35 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Second Keynote: Breaking the Speed Limit: How R Gets Faster</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Marianna Foos</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">4:35 PM - 4:45 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Leveraging multiple R tools to make effective pediatric dosing decisions</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Jeannine Fisher</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">4:45 PM - 5:05 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Using Machine Learning and Interactive Graphics to Find New Cancer Targets</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">David Cooper</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:05 PM - 5:15 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Machine learning workflow management with drake</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Will Landau</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:15 PM - 5:35 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">An R package for Data Science and "Deep Visualization" of a complex clinical database</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">David James</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">6:00 PM - 7:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Cambridge Innovation Center </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Conference Reception (Cambridge Innovation Center confirmed once we provide deposit)</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr style="">
<td colspan='4' style="padding:8px;color:#ffffff;background-color:#3c8dbc;font-size:16px;font-weight:initial;border-top-style:solid;border-top-width:2px;border-top-color:#A8A8A8;border-bottom-style:solid;border-bottom-width:2px;border-bottom-color:#A8A8A8;vertical-align:middle;">2019-08-23 - Friday</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 9:15 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Registration at CGIS South</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> TBC </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> TBC </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">8:00 AM - 8:45 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> TBC </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Breakout / Focused Discussion TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">TBD</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">9:00 AM - 9:15 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Opening Remarks</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">9:15 AM - 10:00 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Third Keynote: TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Aedin Culhane</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:00 AM - 10:20 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Your Missing Step in Reproducible R Programming: Continuous Deployment</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Chase Clark</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:20 AM - 10:30 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">From playing in the backyard to designing one: Shiny transforms study designs, data analyses and statistical thinking of oncology in vivo group at Janssen</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Volha Tryputsen</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:30 AM - 10:50 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">ModViz POP: R-Shiny Based PK/PD Interface for Empowering Teams to Perform Real-Time Simulations</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Pavan Vaddady</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">10:50 AM - 11:10 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:10 AM - 11:30 AM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Building Open Source Tools for Safety Monitoring: Advancing Research Through Community Collaboration</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Becca Krouse</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:30 AM - 11:40 AM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">It's Not What's on the Outside, but It's What's on the Back-end That Matters: The World Beyond CSV Files</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Marcus Adams</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">11:40 AM - 12:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Improve installation sequences for R package cohorts</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Juliane Manitz</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:00 PM - 12:10 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Evaluating the performance of advanced causal inference methods applied to healthcare claims data</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Jessica Myers Franklin</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:10 PM - 12:30 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">RT16</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Leon Eyrich Jessen</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">12:30 PM - 1:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Lunch</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:30 PM - 1:50 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">This one is not like the others: Applicability Domain methods in R</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Max Kuhn</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">1:50 PM - 2:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Accelerating Chemistry Research through the Integration of Data Science with High-Throughput Experimentation</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Jason Stevens</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:00 PM - 2:20 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Reproducible shiny apps with shinymeta</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Carson Sievert</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:20 PM - 2:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Shiny apps for accelerating early drug discovery research</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Gordon Turner</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:30 PM - 2:50 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Using R to foster the communication with non-statisticians on Bayesian dose escalation models</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Marianna Grinberg</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">2:50 PM - 3:00 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Prediction of maternal-fetal exposures of CYP450-metabolized drugs using physiologic pharmacokinetic modeling implemented in R and mrgsolve.</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Madeleine S. Gastonguay</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:00 PM - 3:20 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Making Better Decisions</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Andy Nicholls</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:20 PM - 3:30 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">From CDISC to TLFs, using R to support Pharmacokinetic Analyses</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Jessica Higgins</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:30 PM - 3:50 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Concourse </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Break</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">3:50 PM - 4:35 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Fourth Keynote: TBD</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Paul Schuette</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">4:35 PM - 4:45 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Validation Framework for Assay Processing Pipelines</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Ellis Hughes</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">4:45 PM - 5:05 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Shiny in Production: Building bridges from data science to IT</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Kelly O'Briant</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:05 PM - 5:05 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">LT18</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:05 PM - 5:25 PM</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> Auditorium </em></td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Democratizing Natural Language Processing with I2E and R Shiny</td>
<td style="background-color:#f2f2f2;padding:10px;margin:10px;vertical-align:middle;text-align:left;">Abhik Seal</td>
</tr>
<tr>
<td style="padding:10px;margin:10px;vertical-align:middle;border-right-style:solid;border-right-width:2px;border-right-color:#A8A8A8;padding-left:12px;text-align:left;">5:45 PM - 8:00 PM</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"><em> TBC </em></td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;">Drinks Offsite</td>
<td style="padding:10px;margin:10px;vertical-align:middle;text-align:left;"></td>
</tr>
</tbody>
</table>
<!--gt table end-->

