
.about-img .img-block {
    position: absolute;
    content: "";
    bottom: -70px;
    right: 0;
    left: 30%;
    width: 100%;
    border: 10px solid #fff;
}

@media (max-width: 991px) {
.about-img .img-block {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    bottom: -20px;
}
}

@media (max-width: 767px) {
  .cta-img .contact-info {
      position: static;
  }
}

.speaker-social-1 {
  left: 56% !important;
}

.speaker-social-2 {
  left: 50% !important;
}

.workshoprow {
  margin-bottom: 20px;
}

.text-color-grey {
  color: #5b5b5b !important;
}

.h2-before-blue::before {
  background: #4125dd !important;
}

