.time-table .workshop-time {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
}

.workshop-filled {
    pointer-events: none;
}

.workshop-closed {
    pointer-events: none;
}

.workshop-pending {
    pointer-events: none;
}
