{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- speaker style 1 -->
<!--
<section class="section-speaker section">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <span class="stroke-text">{{ .Title }}</span>
          <div class="pl-90 content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-md-6">
        <div class="speaker-block mb-5">
          <div class="img-block">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid">
            <ul class="list-inline speaker-social">
              {{ range .Params.Social }}
              <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
              {{ end }}
            </ul>
          </div>
          <div class="speaker-info">
            <h4 class="mb-0 mt-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
-->
<!-- /speaker style 1 -->

<!-- speaker style 2 -->
<section class="speaker-2 section bg-gray">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <span class="stroke-text">{{ .Title }}</span>
          <div class="pl-90 content">
            {{ .Params.content_1 | markdownify }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range sort (where .Data.Pages  ".Params.subtype" "keynote") ".Params.surname" "asc" }}
      <div class="col-lg-4 col-md-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid rounded-circle">
            {{ if isset .Params "social" }}
              {{ if eq (len .Params.Social) 1 }}
              <ul class="list-inline speaker-social speaker-social-1">
                {{ range .Params.Social }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
              {{ else if eq (len .Params.Social) 2 }}
              <ul class="list-inline speaker-social speaker-social-2">
                {{ range .Params.Social }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
              {{ else }}
              <ul class="list-inline speaker-social">
                {{ range .Params.Social }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
              {{ end }}
            {{ end }}
          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="{{.Permalink}}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /speaker style 2 -->


<!-- general speaker list -->
<section class="speaker-2 section bg-gray">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <div class="pl-90 content">
            {{ .Params.content_3 | markdownify }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range (where .Data.Pages  ".Params.subtype" "speakerlist") }}
        {{ range sort .Params.program ".sort" "asc" }}
          <div class="col-lg-4 col-md-3">
            <div class="speaker-block mb-4">
              <div class="speaker-info">
                <h4 class="mb-0 mt-4">{{ .name | markdownify }}</h4>
                <p>{{ .affiliation | markdownify }}</p>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>      
  </div>
</section>
<!-- /general speaker list -->



<!-- 
<section class="speaker-2 section bg-gray">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <div class="pl-90 content">
            {{ .Params.content_2 | markdownify }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range sort (where .Data.Pages  ".Params.subtype" "workshop") ".Params.surname" "asc" }}
      <div class="col-lg-4 col-md-6">
        <div class="speaker-block style-2 mb-5">
          <div class="img-block">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid rounded-circle">
            <ul class="list-inline speaker-social">
              {{ range .Params.Social }}
              <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
              {{ end }}
            </ul>
          </div>
          <div class="speaker-info text-center">
            <h4 class="mb-0 mt-3"><a href="{{.Permalink}}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation}}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
-->

{{ end }}