{{ with .Site.Data.rinpharma2020.schedule }}

<script src="https://use.fontawesome.com/c174ad4250.js"></script>
<link rel="stylesheet" type="text/css" href="/css/schedule.css">

<section class="section-schedule section">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <div class="pl-90">
            <h2 class="mt-2">{{ .title | markdownify }} schedule</h2>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="nav nav-pills nav-fill" role="tablist">
          {{ $.Scratch.Set "counter" 0 }}
          {{ range $index, $element := .scheduleTab }}
          {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          <a class="nav-item nav-link {{ if eq $index 0 }} active {{ end }}" data-toggle="tab" href="#scheduleTab{{$.Scratch.Get `counter`}}"
            role="tab">
            <h2>{{ .title | markdownify }}</h2>
            <p>{{ .subtitle | markdownify }}</p>
          </a>
          {{ end }}
        </nav>

        <div class="tab-content">
          {{ $.Scratch.Set "counter" 0 }}
          {{ range $index, $element := .scheduleTab }}
          {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          <div class="tab-pane fade {{ if eq $index 0 }} show active {{ end }} " id="scheduleTab{{$.Scratch.Get `counter`}}" role="tabpanel">
            <ul class="mt-5 time-table pl-0 list-unstyled">
              {{ range .tabContentList }}
              <li class="d-lg-flex align-items-center justify-content-left bg-light p-4 mb-3">
                {{ if ne .time "" }}
                <p class="time text-color">{{ .time }}</p>
                {{ end }}
                <div class="content">
                  <p> {{ .content | markdownify }} </p>
                </div>
                <div class="content-img text-lg-right" style = "display: inline-block;">
                {{ if .icons }}
                  {{ if ne .slides "" }}
                    <span style = "display: inline-block; margin-right: 40px;"><a href={{ .slides }}><h2 style="color: #000099"><i class="fas fa-file-pdf"></i></h2></a></span>
                  {{ else }}
                    <span style = "display: inline-block; margin-right: 40px;"><h2 style="color: #e6e6ff"><i class="fas fa-file-pdf"></i></h2></span>
                  {{ end }}
                  {{ if ne .youtube "" }}
                    <span style = "display: inline-block; margin-right: 40px;"><a href={{ .youtube }}><h2 style="color: #ff0000;"><i class="fa fa-youtube-play" aria-hidden="true"></i></h2></a></span>
                  {{ else }}
                    <span style = "display: inline-block; margin-right: 40px;"><h2 style="color: #ffe6e6;"><i class="fa fa-youtube-play" aria-hidden="true"></i></h2></span>
                  {{ end }}
                {{ end }}

              </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
