{{ define "main" }}

<!-- banner -->
{{ with .Site.Data.homepage.banner }}
<section class="section-banner d-flex align-items-center" style="background-image: url(images/banner/coverwhite.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mr-auto">
        <div class="banner-content">
          <span>{{ .date }}</span>
          <h1 class="mt-3 mb-5">{{ .title | markdownify | markdownify }}</h1>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="btn btn-hero btn-rounded">{{ .label }}</a>
          {{ end}}
          {{ end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /banner -->

<!-- counter -->
{{ if .Site.Data.homepage.counter.enable }}
{{ with .Site.Data.homepage.counter }}
<section class="overflow-hidden counter-wrapper pt-4 pb-5">
  <div class="container">
    <div class="counter-inner">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="counter-stat">
            <h2 class="font-weight-light">{{ .title | markdownify }}</h2>
          </div>
        </div>
        <div id="simple-timer" class="syotimer" data-year="{{ .year }}" data-month="{{ .month }}" data-day="{{ .day }}"
          data-hour="{{ .hour }}"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- counter -->

<!-- event  -->
{{ if .Site.Data.homepage.event.enable }}
{{ partial "event.html" . }}
{{ end }}
<!-- /event -->

<!-- call to action -->
{{ if .Site.Data.homepage.cta.enable }}
{{ with .Site.Data.homepage.cta }}
<section class="section cta-wrap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="cta-content">
          <span class="lead">{{ .subtitle | markdownify }}</span>
          <h2 class="mt-3 mb-4 text-md">{{ .title | markdownify }}</h2>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="btn btn-secondary btn-rounded">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 mt-5 mt-lg-0 d-none d-lg-block">
        <img src="{{ .image | absURL }}" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->

<!-- call to action -->
{{ if .Site.Data.homepage.cta3.enable }}
{{ with .Site.Data.homepage.cta3 }}
<section class="section cta-wrap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="cta-content">
          <span class="lead">{{ .subtitle | markdownify }}</span>
          <h2 class="mt-3 mb-4 text-md">{{ .title | markdownify }}</h2>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="btn btn-secondary btn-rounded">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 mt-5 mt-lg-0 d-none d-lg-block">
        <img src="{{ .image | absURL }}" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->

<!-- feature -->
{{ if .Site.Data.homepage.feature.enable }}
{{ with .Site.Data.homepage.feature }}
<section id="section-feature">
  <div class="container">
    <div class="row">
      {{ range .featureItem }}
      <div class="col-lg-4 col-md-6">
        <div class="feature-box">
          <i class="{{ .icon }}"></i>
          <h4 class="mt-3 mb-3">{{ .title | markdownify }}</h4>
          <div class="divider"></div>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->

<!-- schedule -->
{{ if .Site.Data.homepage.schedule.enable }}
{{ partial "schedule.html" . }}
{{ end }}
<!-- /schedule -->

<!-- pricing -->
{{ if .Site.Data.homepage.pricing.enable }}
{{ partial "pricing.html" . }}
{{ end }}
<!-- /pricing  -->



<!-- speaker -->
{{ if .Site.Data.homepage.speaker.enable }}
<section class="section-speaker section">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <span class="stroke-text">{{ .Site.Data.homepage.speaker.titleOutline }}</span>
          <div class="pl-90">
            <h2>{{ .Site.Data.homepage.speaker.title | markdownify }}</h2>
            <p>{{ .Site.Data.homepage.speaker.content | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range where .Site.RegularPages ".Params.subtype" "keynote"}}
      <div class="col-lg-4 col-md-6">
        <div class="speaker-block mb-5">
          <div class="img-block">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid">
            <ul class="list-inline speaker-social">
              {{ range .Params.Social }}
              <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
              {{ end }}
            </ul>
          </div>
          <div class="speaker-info">
            <h4 class="mb-0 mt-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <p>{{ .Params.Designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /speaker -->



<!-- exec -->
{{ if .Site.Data.homepage.exec.enable }}
{{ with .Site.Data.homepage.exec }}
<section class="section-speaker section">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <span class="stroke-text">{{ .titleOutline }}</span>
          <div class="pl-90">
            <h2>{{ .title | markdownify }}</h2>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .execItem }}
      <div class="col-lg-4 col-md-3">
        <div class="speaker-block mb-4">
          <div class="speaker-info">
            <h4 class="mb-0 mt-4">{{ .name | markdownify }}</h4>
            <p>{{ .affiliation | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

  </div>
</section>
{{ end }}
{{ end }}
<!-- /exec -->


<!-- sponsor -->
{{ if .Site.Data.homepage.sponsor.enable }}
{{ partial "sponsor.html" . }}
{{ end }}
<!-- /sponsor -->

<!-- call to action 2 -->
{{ if .Site.Data.homepage.cta2.enable }}
{{ with .Site.Data.homepage.cta2 }}
<section class="cta-2 section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cta-img">
          <img src="{{ .image | absURL }}" alt="" class="img-fluid">
          <div class="contact-info box-shadow">
            <h5 class="text-uppercase letter-spacing mb-4">{{ .title | markdownify }}</h5>
            <h6 class="text-color mb-3">{{ .date }}</h6>
            <p class="lead">{{ .content | markdownify }}</p>
            {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .link | absURL }}"><i class="tf-ion-ios-location mr-2"></i>{{ .label }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- call to action 2 -->

<!-- blog -->
{{ if .Site.Data.homepage.blog.enable }}
<section class="latest-blog section-bottom">
  {{ with .Site.Data.homepage.blog }}
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-6">
        <div class="heading">
          <span class="stroke-text">{{ .titleOutline }}</span>
          <div class="pl-90">
            <h2>{{ .title | markdownify }}</h2>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
  <div class="container">
    <div class="row">
      {{ range first 6 (where .Site.RegularPages "Type" "post" )}}
      <div class="col-lg-4 col-md-6">
        <div class="blog-item card border-0 mb-5 mb-lg-0">
          <img src="{{ .Params.Image | absURL }}" alt="{{ .Title | markdownify }}" class="img-fluid">
          <div class="p-4">
            <h4 class="mt-2 mb-3"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h4>
            <p>{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="read-more text-color h6">Read More</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

{{ end }}
